# Copy this file to .env and fill in your NASA Earthdata token
NASA_EARTHDATA_TOKEN="eyJ0eXAiOiJKV1QiLCJvcmlnaW4iOiJFYXJ0aGRhdGEgTG9naW4iLCJzaWciOiJlZGxqd3RwdWJrZXlfb3BzIiwiYWxnIjoiUlMyNTYifQ.eyJ0eXBlIjoiVXNlciIsInVpZCI6ImlyYWVsIiwiZXhwIjoxNzk2NDEyMzc3LCJpYXQiOjE3OTEyMjgzNzcsImlzcyI6Imh0dHBzOi8vdXJzLmVhcnRoZGF0YS5uYXNhLmdvdiIsImlkZW50aXR5X3Byb3ZpZGVyIjoiZWRsX29wcyIsImFjciI6ImVkbCIsImFzc3VyYW5jZV9sZXZlbCI6M30.TuZwXHJ5NWLaLT3NPRpj-kjbphaQr3gwMl9OB_PjO-47k5PbEN_XIIbO8jpcCbWuVJ6gCFA7ZVXmG5Z7KBaMTi4J9evQ3jt6U8ZeMPsZJffCge-3yt0kqo3dEQjIFLyWU6__rL_dOxqV1WRqHB-4Wb_temAxejQhaA-QXx9ZY8Su25dV8Q9oq3hBGsdXLiJjxi7eHVfJSRI0bntJ9GR4zxTyncLnBsB43b9P3Gq-864ic06yxKHMSQ7nIg7F3dTz3iizTHRwy5UitAs3XXOdysDYJrz8l0mJaSzi9YVtGCUEhffBAhjswk-rfr-9OlOicAlrmGO8hoSsSQdwF6i2Aw"
